body{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center ;
}
#calculadora{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.308);
    border-radius: 20px;
    width: 300px;
    height: 600px;
}

#pantalla{
    display: flex;
    width: 280px;
    height: 100px;
    background-color: rgb(153, 153, 153);
    border-radius: 20px;
    align-items: center;
    justify-content: right;
}
#pantalla span{
    font-size: 40px;
    color: #000000d4;
    margin-right: 20px;
    font-family: sans-serif;
}

#botones {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 260px;  
    margin-top: 20px;
}

#numeros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
    place-items: center;
}

#numeros :nth-child(10){
    grid-column: 2;
}
#simbolos {
    display:flex; 
    flex-direction: row;
    align-items: center;   
    justify-content: center; 
}
#numeros button{
    width: 80px;
    height: 80px;
}
#simbolos button{
    width: 80px;
    height: 80px;
    margin: 0 5px 10px;
}

.allButtons{
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 20px;border: none;
    background-color: rgb(220, 204, 184);
}

.allButtons :active{
    transition: all 0.1s;
    transform: scale(0.8);

}