@font-face {
    font-family: 'Regnesburg';
    src: url(/Calculadora-gddelll/RegensburgRegular-PRvP.ttf), format("truetype");
}

@keyframes anadirAspan {
    0% {}

    50% {
        border-radius: 18px;
        transform: scale(0.98);
    }

    /* Un verde claro */
    100% {}
}

.anamiacionPantalla {
    animation: anadirAspan 0.2s ease-in-out;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Regnesburg;
    background-image: url("wallpaper.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
}

#calculadora {
    backdrop-filter: blur(4px);
    display: flex;
    height: 600px;
    width: 400px;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border: 2px solid #C0C0C0;
}

#pantalla {
    transition: all 0.2s;
    display: flex;
    background-color: #637082;
    width: 360px;
    height: 100px;
    margin: 20px;
    justify-content: flex-end;
    align-items: center;
    font-size: 60px;
    border-radius: 25px;
}

#pantalla span {
    margin-right: 25px;
}

#botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonsStyles {
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Regnesburg;
    font-size: 30px;
    color: white;
    background-color: #534A61;
    border-radius: 10px;
    border: none;
    width: 80px;
    height: 60px;
}

.buttonsStyles:hover {
    background-color: #696969;
    transform: scale(0.95);
}

.buttonsStyles:active {
    transform: scale(0.9);
    border-radius: 15px;
}

#numeros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 5px;
}

#numeros :nth-child(10) {
    grid-column: 1 /4;
    justify-self: center;
}

#simbolos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

#equalButton {
    display: grid;
    grid-column: 1/5;
}

#simbolos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    margin-top: 5px;
}

#equalButton {
    background-color: #D99C25;
    grid-column: 1 / -1;
    width: 100%;
}